@model Cine.Models.FilmeModel
@{
    ViewData["Title"] = "Cadastro de Filmes";
}

<div class="formulario mx-auto d-grid gap-2">
    <h1 class="text-center fw-bold">Cadastro de Filmes</h1>
    <form enctype="multipart/form-data" asp-action="salvar" asp-controller="Filme" method="post">
    <div class="row">
        <div class="col-12 form-group">
            <input readonly type="text" asp-for="IdFilme" class="form-control" hidden/>
            <span asp-validation-for="IdFilme" class="validacao"></span>
        </div>
        <div class="col-12 form-group">
            <input type="text" asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="validacao"></span>
        </div>
        <div class="col-12 form-group">
            <input type="text" asp-for="Descricao" class="form-control" />
            <span asp-validation-for="Descricao" class="validacao"></span>
        </div>

        <div class="col-12 form-group">
            <input type="text" asp-for="Duracao" class="form-control" />
            <span asp-validation-for="Duracao" class="validacao"></span>
        </div>

        <div class="col-12 form-group">
            <input type="text" asp-for="Valor" class="form-control" />
            <span asp-validation-for="Valor" class="validacao"></span>
        </div>


        <div class="col-12 form-group">
            <select class="form-control options" asp-for="IdGenero" asp-items="@ViewBag.listageneros">
                <option>Selecione um genero...</option>

            </select>
            
        </div>
        <div class="col-12 form-group">
            <select class="form-control options" asp-for="IdIdioma" asp-items="@ViewBag.listaidiomas">
                <option>Selecione um idioma...</option>

            </select>
            
        </div>

        <div class="col-12 form-group">
            <label>Imagem</label>
            <input id="customFile" type="file" asp-for="ImagemUpload" class="form-control" />
            <span asp-validation-for="ImagemUpload" class="validacao"></span>
        </div>

        <div class="form-group mb-4 mt-4">
            <span class="@ViewBag.classe">@ViewBag.mensagem</span>
        </div>
        @* <div class="col-12 form-group">
            <input type="submit" class="btn btn-primary" value="SALVAR" />
        </div> *@
        <div class="form-group text-center">
            <div class="col-xs-12 d-grid gap-2">
                <button type="submit" class="w-100">SALVAR</button>
            </div>
        </div>


    </div>
</form>
</div>