
@{
    ViewData["Title"] = "Finalizacao";
    
}

<div class="text-center">
    <h1 class="display-4 texto-colorido mx-auto text-wrap" style="width: 45rem;">Houve um falha ao efetuar sua compra!</h1>
</div>