@model Cine.Models.GeneroModel
@{
    ViewData["Title"] = "Cadastro de Gênero";
}
<div class="formulario mx-auto d-grid gap-2">
    <h1 class="text-center fw-bold">Cadastro de Gêneros de filmes</h1>
    <form asp-controller="Genero" asp-action="salvar" method="post">
        <div class="form-group">
            <input class="form-control" type="number" asp-for="IdGenero" hidden />
            <span asp-validation-for="IdGenero" class="validacao"></span>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" asp-for="Nome" />
            <span asp-validation-for="Nome" class="validacao"></span>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" asp-for="Descricao" />
            <span asp-validation-for="Descricao" class="validacao"></span>
        </div>
        <div class="form-group mb-4 mt-4">
            <span class="@ViewBag.classe">@ViewBag.mensagem</span>
        </div>
        <div class="form-group">
            <div class="col-xs-12 d-grid gap-2">
                <button type="submit" >SALVAR</button>
            </div>
        </div>
    </form>
</div>