@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor _httpContext
@model IEnumerable<IngressoModel>
@{
    ViewData["Title"] = "Home Page";
    var userName = _httpContext.HttpContext.Session.GetString("Nome");
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo @userName</h1>
</div>
<div class="row mb-2">
    @foreach (var item in Model)
    {
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 shadow-sm h-md-250 tabela">
                <div class="card-body d-flex flex-column align-items-start">

                    <h3 class="mb-0">
                        <a class="text">Nome do Filme </a>
                    </h3>
                    <div class="mb-1 text-muted">R$ @item.Valor</div>
                    <p class="card-text mb-auto">Descrição</p>
                    <a href="~/Home/Detalhes/@item.IdIngresso" class="btn btn-primary">
                        Comprar
                    </a>
                </div>
                <img src="@Url.Action("Imagem", "Filme", new { id = item.IdFilme })" alt="Capa do Filme"
                    class="card-img-right flex-auto d-none d-lg-block" style="width: 200px; height: 250px;" />

            </div>
        </div>
    }

</div>