@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor _httpContext

@{
    ViewData["Title"] = "Home Page";
    var userName = _httpContext.HttpContext.Session.GetString("Nome");
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo @userName</h1>
    </div>
