@model Cine.Models.UsuarioModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <title>Cadastrar Usuario</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>

<body>
    <div class="formulario">
        <h1>Cadastro de Usuarios</h1>
        <form asp-controller="Usuario" asp-action="Salvar" method="post">
            <div class="form-group">
                <input class="form-control" type="number" asp-for="IdUsuario" hidden />
                <span asp-validation-for="IdUsuario" class="validacao"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input class="form-control" type="text" asp-for="Email" />
                <span asp-validation-for="Email" class="validacao"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha"></label>
                <input class="form-control" type="password" asp-for="Senha" />
                <span asp-validation-for="Senha" class="validacao"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome"></label>
                <input class="form-control" type="text" asp-for="Nome" />
                <span asp-validation-for="Nome" class="validacao"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipousuario" class="control-label"></label>
                <select asp-for="IdTipousuario" class="tipousuario"
                    asp-items="@(Model.TiposUsuario ?? Enumerable.Empty<SelectListItem>())"></select>
            </div>

            <div class="form-group">
                <span>@ViewBag.Dados</span>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 d-flex justify-content-between">
                    <button type="submit">Salvar</button>
                    <a class="btnlink" asp-controller="Usuario" asp-action="Login">Login</a>
                </div>
                
            </div>
        </form>
    </div>
</body>

</html>