@model Cine.Models.IdiomaModel
@{
    ViewData["Title"] = "Index";
}
<div class="formulario">
    <h1>Cadastro de Idioma de filmes</h1>
    <form asp-controller="Idioma" asp-action="salvar" method="post">
        <div class="form-group">
            <input class="form-control" type="number" asp-for="IdIdioma" hidden />
            <span asp-validation-for="IdIdioma" class="validacao"></span>
        </div>
        <div class="form-group">
            <label asp-for="Nome"></label>
            <input class="form-control" type="text" asp-for="Nome" />
            <span asp-validation-for="Nome" class="validacao"></span>
        </div>
        <div class="form-group">
            <span>@ViewBag.mensagem</span>
        </div>
        <div class="form-group">
            <button type="submit" >Salvar</button>
        </div>
    </form>
</div>