@model Cine.Models.IngressoModel
@{
    ViewData["Title"] = "Index";
}

<div class="formulario">
    <h1>Cadastro de Ingresso</h1>
    <form asp-controller="Ingresso" asp-action="Salvar" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input class="form-control" type="number" asp-for="IdIngresso" hidden />
            <span asp-validation-for="IdIngresso" class="validacao"></span>
        </div>
        <div class="form-group">
            <label asp-for="Numero"></label>
            <input class="form-control" type="number" asp-for="Numero" />
            <span asp-validation-for="Numero" class="validacao"></span>
        </div>
        <div class="form-group">
            <label asp-for="IdFilme" class="control-label"></label>
            <select asp-for="IdFilme" class="options" asp-items="@(Model.Filmes ?? Enumerable.Empty<SelectListItem>())"></select>

        </div>
        <div class="form-group">
            <label asp-for="Valor"></label>
            <input class="form-control" type="text" asp-for="Valor" />
            <span asp-validation-for="Valor" class="validacao"></span>
        </div>
        
        

        <div class="form-group">
            <span>@ViewBag.Dados</span>
        </div>
        <div class="form-group">
            <button type="submit">Salvar</button>
        </div>
    </form>
</div>