.tabela {
    background-color: #333;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    flex-direction: column;
    max-width: auto;
    
}
.lista {
    background-color: #333;
}