body {
    font-family: Arial, sans-serif;
    color: #aaaaaa;
    background-color: #222;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulario {
    background-color: #000;
    border-radius: 10px;
    padding: 20px !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 500px;
    margin-bottom: 20px;
}

input[type="email"],
input[type="password"],
input[type="text"]
 {
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #444;
    color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

button {
    border: none;
    background-color: #da4453;
    /* background-color: #da4453a1; */
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0px 0px 5px rgb(85, 27, 33);
    font-weight: bold;
}

button:hover {
    background-color: #f64747;
}

a {
    color: #da4453;
    text-decoration: none;
    margin-top: 10px;
    font-size: 14px;
    
}

.btnlink {
    border: none;
    background-color: #da4453;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-weight: bold;
}

.btnlink:hover {
    background-color: #f64747;
    text-decoration: none;
    color: #ffffff;
}
.validacao{
    color: crimson;
    font-weight: bold;
}
.tipousuario{
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #444;
    color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}


/* .card-box {
    padding: 20px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #000000;
} */

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #aaaaaa;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #aaaaaa;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #aaaaaa;
}
.alert-danger{
    --bs-alert-bg: #2c0b0e;
    background-color: var(--bs-alert-bg);
    --bs-alert-border: var(--bs-border-width) solid var(--bs-alert-border-color);
    color: #ea868f;
}
.alert-success{
    --bs-alert-bg: #0f5132;
    background-color: var(--bs-alert-bg);
    --bs-alert-border: var(--bs-border-width) var(--bs-alert-border-color);
    color: #75b798;
}
  
